# Создайте файл .env из копии этого файла и замените значения переменных реальными данными
# API-ключи:
# API-KEY получите на сайте: https://www.alphavantage.co/
# API-KEY_TWO получите на сайте: https://apilayer.com/
API_KEY=uAbQ1oM0Yv8zUbN6ac2EJS2
API_KEY_TWO=b2ZMUY5j9gl8iIV1cSzbvXqV63ZbEoRR